[submodule "MHKiT-MATLAB"]
	path = MHKiT-MATLAB
	url = https://github.com/MHKiT-Code-Hub/MHKiT-MATLAB.git
[submodule "MHKiT-Python"]
	path = MHKiT-Python
	url = https://github.com/MHKiT-Code-Hub/MHKiT-Python.git
