# File Types
.buildinfo
.buildinfo.bak
*.tws
*~
*.swp


# Directories
*/latex/*
*/.vscode/*

# Other
issues.md

docs/doctrees
docs/.doctrees
docs/**/doctrees
docs/**/.doctrees

# Documentation builds
docs/*.html
docs/_static/
docs/_sources/
docs/_images/
docs/doctrees/
docs/.buildinfo
docs/*.js
docs/*.inv
