/*
.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
	max-width: 50%;
    /* max-width: 800px; */
/*    margin: auto;
}
*/

/* Modify tables in examples.rst to improve readability */
.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal !important;
}

.wy-table-responsive {
    margin-bottom: 24px !important;
    max-width: 100% !important;
    overflow: visible !important;
}

.wy-table-responsive table {
    width: 100% !important;
}

.wy-table-responsive table td {
    vertical-align: top !important;
    padding: 8px !important;
}

.wy-table-responsive table th {
    vertical-align: top !important;
    padding: 8px !important;
}
